{{#each post}}
  <div class="container dashboard-container">
    <section class="card custom-homepage-card">
      <h1>{{title}}</h1>
      <p> Posted by: {{User.username}}</p>
    </section>
  </div>
{{/each}}