{{#each post}}
  <div class="container dashboard-container">
    <a class="card custom-homepage-card" href="/post/:{{id}}">
      <h1>{{title}}</h1>
      <p> Posted by: {{User.username}}</p>
    </a>

  </div>
{{/each}}



{{!-- <script src="/js/postNew.js"></script> --}}