<a class="text-white d-flex justify-content-end m-4" href="/user/sign">
  Create an account instead!</a>

<form class="custom-form" action="submit">
  <div class="mb-3">
    <label for="loginForm" class="form-label">Username</label>
    <input
      type="username"
      class="form-control"
      id="usernameLogin"
      placeholder="Username"
    />
  </div>

  <div class="align-items-center">
    <label for="inputPasswordLogin" class="col-form-label">Password</label>
    <input
      type="password"
      id="inputPasswordLogin"
      class="form-control"
      aria-describedby="passwordHelpInline"
      placeholder="password"
    />
  </div>
  <button class="sign-up">Login</button>
</form>
<script src="/js/sign-up.js"></script>