    <form class="custom-form" action="submit">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Username</label
        >
        <input
          type="username"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Username" />
      </div>

      <div class="align-items-center">
        <label for="inputPassword6" class="col-form-label">Password</label>
        <input
          type="password"
          id="inputPassword6"
          class="form-control"
          aria-describedby="passwordHelpInline"
          placeholder="password" />
      </div>
      <button class="sign-up">Sign-Up</button>
    </form>