
<a class = "text-white d-flex justify-content-end m-4"href="/user/login"> Already have an account? Login!</a>

<form id="signUp" class="custom-form" action="submit">
  <div class="mb-3">
    <label for="newUsername" class="form-label">Username</label>
    <input
      type="username"
      class="form-control"
      id="newUsername"
      placeholder="Username"
    />
  </div>

  <div class="align-items-center">
    <label for="newPassword" class="col-form-label">Password</label>
    <input
      {{! type="password" }}
      id="newPassword"
      class="form-control"
      aria-describedby="passwordHelpInline"
      placeholder="password"
    />
  </div>
  <button class="signUpButton sign-up">Sign-Up</button>
</form>
<script src="/js/userNew.js"></script>